<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                </dict>
            </array>
        </dict>
    </dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsLocalNetworking</key>
        <true/>
    </dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs access to your location to get WiFi information.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
        <string>vpn</string>
    </array>
    <key>NSCameraUsageDescription</key>
    <string>This app needs access to your display brightness to adjust the screen brightness within the app.</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>Allow access to Screen Time data for usage statistics and reports.</string>
    <key>NSUserActivityUsageDescription</key>
    <string>스크린 타임 정보를 읽으려면 권한을 부여해주세요.</string>
    <key>NSFaceIDUsageDescription</key>
    <string>This app uses Face ID for authentication purposes.</string>
</dict>
</plist>
